a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}
.search-item-rate {
	font-size: 11px;
}

.search-page form {
	display: flex;
}
.search-page form input[type="submit"] {
	background: #2196f3;
	color: #FFFFFF;
	border: none;
	outline: none;
}