.brands_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 28px;
    margin-bottom: 40px;
}
.brands_item{
    border: 1px solid #F6F6F6;
    position: relative;
    padding: 40%;
}

.brands_item a{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: self-end;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
}
.brands_item a img{
    max-width: 100%;
}
.brands_item a h3{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    padding: 0 15px;
    margin: 0px 0px 50px 0px;
}
.staff_wrapp .item:hover img, .brands_list li:hover img {
    -webkit-filter: saturate(1.5);
}
@media screen and (max-width: 768px){
    .brands_list {
        gap: 10px;
    }
}
@media screen and (max-width: 550px){
    .brands_list {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}